Repository rohitbakoliya/rohitbakoliya.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

.lintstagedrc.json:

{
    "./src/**/*.js": ["prettier --write", "eslint --cache", "stylelint .js", "git add"],
    "./content/**/*.md": ["remark --frail --ignore-pattern __*.md"]
}

stylelint setup added
  .lintstagedrc.json
  .stylelintrc
  package-lock.json
  package.json
  src/components/Layout/Navbar/Burger.js
  src/components/common/Loader.js
  src/styles/BlogCSS.style.js
  src/styles/prismjs.style.js
  src/templates/project-template.style.js
Due: prettier --write, eslint --cache, stylelint .js

chore: updates -readme updated -editorconfig added
  .editorconfig
  README.md
  package.json
Due: none

fix: workflows & depedabot
  .github/dependabot.yml
  .github/dependentbot.yml
  .github/workflows/PR.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouseCI.yml
  .github/workflows/main.yml
  .lintstagedrc.json
  .prettierignore
  src/components/About/About.js
Due: prettier --write, eslint --cache, stylelint .js

feat(seo): google rich snippets added
  README.md
  config/SiteConfig.js
  src/components/SEO/SEO.js
Due: prettier --write, eslint --cache, stylelint .js

fix: typo and resume link added
  README.md
  config/SiteConfig.js
  content/major-projects/COVID19-India.md
  src/components/Home/Home.js
  src/components/Layout/Navbar/NavMobile.js
  src/components/common/SubHeading.js
Due: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

fixed: badges
  README.md
Due: none

chore: project added
  content/major-projects/test-gen-demo.png
  content/major-projects/test-gen.md
  src/static/images/major-projects_test-gen.png
Due: remark --frail --ignore-pattern __*.md

refactor: project cover & update: social link uri
  config/SiteConfig.js
  content/major-projects/COVID19-India.md
  src/static/images/major-projects_covid-19india.png
Due: remark --frail --ignore-pattern __*.md

chore: projects added
  content/json/smallprojects.json
  content/major-projects/COVID19-India.md
  content/major-projects/NoQue-X.md
  content/major-projects/chef-arena.md
  content/major-projects/shareby.md
  content/major-projects/test-gen-demo.png
  content/major-projects/test-gen.md
  src/static/images/major-projects_shareby-demo.png
Due: remark --frail --ignore-pattern __*.md

infra: minor fixes [skip ci]
  .github/dependabot.yml
  .lintstagedrc.json
  README.md
Due: none

chore: projects updated [skip ci]
  content/major-projects/COVID19-India.md
  content/major-projects/NoQue-X.md
  content/major-projects/shareby.md
  content/major-projects/test-gen.md
Due: remark --frail --ignore-pattern __*.md

fix: minor markdown styling [skip-ci]
  src/styles/BlogCSS.style.js
  src/styles/GlobalStyles.js
Due: prettier --write, eslint --cache, stylelint .js

meta: home, about updated fix: theme toggler issue in mobile view
  config/SiteConfig.js
  src/components/About/About.js
  src/components/About/About.style.js
  src/components/Home/Home.js
  src/components/Home/Home.style.js
  src/components/Layout/Navbar/NavMobile.js
  src/components/Layout/Theme/ToggleSwitch.js
  src/components/Skills/Skills.js
  src/components/common/IconsLib.js
Due: prettier --write, eslint --cache, stylelint .js

fix: theme swith disabled in desktop
  content/major-projects/test-gen.md
  src/components/Layout/Navbar/NavMobile.js
  src/components/Layout/Theme/ToggleSwitch.js
Due: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

patch: updated resume, quickfixs
  .huskyrc
  .lintstagedrc.json
  config/SiteConfig.js
  content/json/smallprojects.json
  content/major-projects/NoQue-X.md
  content/major-projects/shareby.md
  package.json
  src/Layout/Footer/Footer.js
  src/Layout/Footer/Footer.style.js
  src/Layout/Layout.js
  src/Layout/Layout.style.js
  src/Layout/Navbar/Burger.js
  src/Layout/Navbar/NavDesktop.js
  src/Layout/Navbar/NavLinks.js
  src/Layout/Navbar/NavMobile.js
  src/Layout/Navbar/NavMobile.style.js
  src/Layout/Navbar/Navbar.js
  src/Layout/Navbar/Navbar.style.js
  src/Layout/Navbar/ToggleSwitch.js
  src/Layout/Navbar/ToggleSwitch.style.js
  src/Theme/Theme.js
  src/Theme/ThemeContext.js
  src/components/About/About.js
  src/components/About/About.style.js
  src/pages/404.js
  src/pages/blog.js
  src/pages/index.js
  src/templates/project-template.js
Due: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

feat: add pinned projects, view more
  content/major-projects/NoQue-X.md
  content/major-projects/__docs.md
  content/major-projects/shareby.md
  package.json
  src/components/Projects/PinnedProjects.js
  src/components/Projects/Projects.js
  src/components/Projects/SmallProjects.style.js
  src/components/Utils/fontLib.js
  src/components/common/FluidImg.js
  src/components/common/MoreButton.js
  src/pages/projects.js
Due: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

feat: add custom project sorting
  content/projects/000--chef-arena.md
  content/projects/001--COVID19-India.md
  content/projects/002--test-gen.md
  content/projects/003--shareby.md
  content/projects/004--NoQue-X.md
  content/projects/005--sieve.ai.md
  content/projects/__docs.md
  gatsby-config.js
  gatsby-node.js
  src/components/Projects/MajorProjects.js
  src/components/Projects/PinnedProjects.js
Due: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

fix: remark lint pattern fix
  package.json
Due: none

feat: add blogs page implementation
  content/blogs/__docs.md
  content/blogs/blog-title-2/index.md
  gatsby-node.js
  src/components/Blog/BlogCard.js
  src/components/Blog/BlogLayout.js
  src/components/Blog/Tags.js
  src/components/Utils/fontLib.js
  src/hooks/useTheme.js
  src/pages/404.js
  src/pages/blog.js
  src/pages/blogs.js
  src/templates/blog-template.js
Due: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

fix: flickering issue in dark mode
  src/hooks/useTheme.js
Due: prettier --write, eslint --cache, stylelint .js

infra: minor fixes [skip ci]
  .github/dependabot.yml
  jsconfig.json
Due: none

chore: code refactoring [skip ci]
  src/pages/404.js
  src/pages/blogs.js
  src/templates/blog-template.js
Due: prettier --write, eslint --cache, stylelint .js

micro-fix: ci errors
  src/hooks/useTheme.js
Due: prettier --write, eslint --cache, stylelint .js

chore: project added, micro fixes
  content/blogs/blog-title-2/index.md
  content/blogs/blog-title/index.md
  content/json/smallprojects.json
  content/projects/005--sieve.ai.md
  package.json
  src/components/common/IconsLib.js
  src/hooks/useTheme.js
  src/pages/projects.js
  src/styles/BlogCSS.style.js
Due: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

feat: add blogs filter hook
  src/components/Blog/BlogCard.js
  src/components/Blog/Tags.js
  src/hooks/useFilterQuery.js
  src/pages/blogs.js
Due: prettier --write, eslint --cache, stylelint .js

docs: micro fixes [skip ci]
  README.md
Due: none

fix: filter hook ssr fix
  src/hooks/useFilterQuery.js
Due: prettier --write, eslint --cache, stylelint .js

chore: blogs config changed
  content/blogs/blog-title/index.md
  src/components/Blog/Tags.js
  src/hooks/useTheme.js
  src/pages/blogs.js
  src/styles/BlogCSS.style.js
Due: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

patch: site info updated [skip ci]
  config/SiteConfig.js
  src/Layout/Navbar/Navbar.js
  src/Theme/Theme.js
  src/components/About/About.js
  src/components/Home/Home.js
Due: prettier --write, eslint --cache, stylelint .js

infra: offline precache only main pages
  gatsby-config.js
Due: none

chore: project updated, order changed
  content/projects/003--shareby.md
  content/projects/004--sieve.ai.md
  content/projects/005--NoQue-X.md
Due: remark --frail --ignore-pattern __*.md

prod: logs removed and minor styles fix
  src/Layout/Navbar/Navbar.js
  src/hooks/useTheme.js
  src/styles/BlogCSS.style.js
Due: prettier --write, eslint --cache, stylelint .js

fix: dark mode color inverting
  src/Layout/Layout.js
  src/hooks/useTheme.js
Due: prettier --write, eslint --cache, stylelint .js

Revert "fix: dark mode color inverting"
  src/Layout/Layout.js
  src/hooks/useTheme.js
Due: prettier --write, eslint --cache, stylelint .js

rearrange linkedin icon
  src/components/Home/Home.js
Due: prettier --write, eslint --cache, stylelint .js

update links in site-config
  config/SiteConfig.js
Due: none

fix dark mode flickering issue
  src/hooks/useTheme.js
Due: prettier --write, eslint --cache, stylelint .js

fix node issues
  .npmrc
  package-lock.json
  package.json
Due: none
