Repository rohitbakoliya/rohitbakoliya.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache, stylelint .js, remark --frail --ignore-pattern __*.md

use new typeface for seconday texts
  gatsby-browser.js
Due: none

update about section
  src/components/About/About.js
  src/components/About/About.style.js
Due: prettier --write, eslint --cache, stylelint .js

update avatar to latest photo XD
  src/static/images/avatar.jpeg
Due: none

use new typeface
  src/Theme/Theme.js
Due: prettier --write, eslint --cache, stylelint .js

try ci actions with node v18
  .github/workflows/PR.yml
  .github/workflows/main.yml
Due: none

fix lighthouserc.json
  lighthouserc.json
Due: none

update PR checks for lighthouse
  .github/workflows/PR.yml
  lighthouserc.pr.json
Due: none

remove lighthouse step on PR ci
  .github/workflows/PR.yml
  lighthouserc.pr.json
Due: none

(feat): 2025 revamp (#58)
  .github/workflows/PR.yml
  .github/workflows/main.yml
  .npmrc
  config/SiteConfig.js
  gatsby-browser.js
  lighthouserc.json
  lighthouserc.pr.json
  package-lock.json
  package.json
  src/Theme/Theme.js
  src/components/About/About.js
  src/components/About/About.style.js
  src/components/Home/Home.js
  src/hooks/useTheme.js
  src/static/images/avatar.jpeg
Due: prettier --write, eslint --cache, stylelint .js

(tmp): remove lighthouse ci step
  .github/workflows/main.yml
Due: none

improved version of skills section
  src/components/Skills/Skills.js
  src/components/Skills/Skills.style.js
  src/components/common/IconsLib.js
Due: prettier --write, eslint --cache, stylelint .js

add parallax effect
  package-lock.json
  package.json
Due: none

minor fixes
  src/components/About/About.js
  src/components/UnderConstruction/UnderConstruction.js
  src/static/under_construction.svg
Due: prettier --write, eslint --cache, stylelint .js

reorder projects
  content/projects/003--NoQue-X.md
  content/projects/004--shareby.md
  content/projects/005--sieve.ai.md
Due: remark --frail --ignore-pattern __*.md

update SEO description tag data
  config/SiteConfig.js
Due: none

add backup avatar
  src/static/images/avatar-1.jpeg
Due: none

cleaner skill section
  src/components/Skills/Skills.js
Due: prettier --write, eslint --cache, stylelint .js

(chore): cleaner skill section (#67)
  src/components/Skills/Skills.js
Due: prettier --write, eslint --cache, stylelint .js

add resume static link
  config/SiteConfig.js
Due: none

(chore): add static link to resume #68
  config/SiteConfig.js
Due: none

add CNAME
  static/CNAME
Due: none

(chore): add CNAME #69
  static/CNAME
Due: none

chore: add static link to resume
  config/SiteConfig.js
Due: none

(chore): change site url from .github.io to .com
  README.md
  config/SiteConfig.js
  package.json
Due: none

remove offline plugin
  gatsby-config.js
  package-lock.json
  package.json
Due: none

fix(SEO): remove offline plugin (#71)
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: any of: ./src/**/*.js
  eslint --cache: any of: ./src/**/*.js
  stylelint .js: any of: ./src/**/*.js
  remark --frail --ignore-pattern __*.md: any of: ./content/**/*.md
